## Python Notebook
This notebook will introduce you to the steps to create a Python notebook and filter data from a publicly available data set by indexing and filtering.

## Overview
This notebook contains four main sections: getting started/system requirements, creating a notebook, filtering data, and exporting data.

### Getting Started
Create a folder on your computer where you store all your files, including the data set and the python notebook, to create a working directory.

### System Requirements
Download Anaconda, and on the home page, launch Jupyter Lab.  

### Creating a Notebook
Open the folder on Jupyter and click + button to create a notebook in your directory. 

Import Pandas Package and the data as a CSV file to the directory. 

### Filtering Data 
The purpose of this section is to make use of the publicly available data set. For this County Health Data Set, I use Python to filter data to compare percentage of people who have obesity in regions West and South. 

#### Setting up Data 
To start filtering the data, you will need to define pandas as pd.

In [89]:
import pandas as pd

You will define the object df by using the `pd.read_csv()` function and inserting the file name in the parentheses.

In [ ]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

#### Filtering and Indexing

In [ ]:
You will use the df.loc function to iterate through all the values of the pandas dataframe.

Then, filter it by making sure that each region is west.

In [101]:
data1 = df.loc[df['Region'] == "West", ["Region","Adult obesity"]]
data1

     Region  Adult obesity
0      West          0.300
1      West          0.329
2      West          0.257
3      West          0.268
4      West          0.315
...     ...            ...
6104   West          0.293
6105   West          0.241
6106   West          0.242
6107   West          0.313
6108   West          0.288

[834 rows x 2 columns]

In [106]:
You will now use the df.loc function to iterate through all the values of the pandas dataframe.

Then, filter it by making sure that each region is south.

SyntaxError: invalid syntax (4093439095.py, line 1)

In [100]:
data2 = df.loc[df['Region'] == "South", ["Region","Adult obesity"]]
data2

     Region  Adult obesity
46    South          0.305
47    South          0.313
48    South          0.266
49    South          0.250
50    South          0.373
...     ...            ...
6058  South          0.383
6059  South          0.317
6060  South          0.335
6061  South          0.370
6062  South          0.348

[2803 rows x 2 columns]

#### Merging Data

In [107]:
You will now merge the two filtered datsets into a new dataset and copy it over to a new variable by using .copy

SyntaxError: invalid syntax (1891870792.py, line 1)

In [98]:
newdata=pd.merge(data1, data2, how="outer").copy()

In [ ]:
We finally export the new dataset varable into a csv called new data by using .to_csv() and naming it "finalDataSet.csv".

In [82]:
newdata.to_csv("FinalDataSet.csv", index=False)

### Exporting Data
After finishing filtering the data to create useful subsets for potential further analysis, export them as a .csv file to share on with others on GitHub repositories.